@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

html,
body {
    font-family: 'DM Sans';
    transition: all 0.25s cubic-bezier(0.65, 0, 0.17, 0.98);
    background-size: 2020px;
    background-position: top;
    background-repeat: repeat-x;
    overflow: hidden;
    touch-action: manipulation;
    @apply bg-dark-600;
}

h1 {
    font-family: 'Jost';
}
